# Rust
target/
Cargo.lock
**/*.rs.bk
*.pdb

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/crash.log
terraform/crash.*.log
terraform/*.tfvars
terraform/*.tfvars.json
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/.terraformrc
terraform/terraform.rc

# Kubernetes
*.kubeconfig
kubeconfig.yaml
.kube/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
